<h1>Comments</h1>

<p><a href="/new_comment">Add a New Comment</a></p>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>User</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
    <tr>
          <td><%= comment.picture_id %></td>
          <td><%= comment.user %></td>
          <td><%= comment.body %></td>
          <td><a href="/comments/<%= comment.id %>">Show</a>
        </td>
      <td><a href="/comments/<%= comment.id %>/edit">Edit</a></td>
      <td><a href="/comments/<%= comment.id %>/destroy">Destroy</a></td>
    </tr>
  <% end %>
  </tbody>
</table>

