<h1>Picture #<%= @picture.id %></h1>

<div>
  <img src="<%= @picture.url %>">
</div>
<div>
  <strong>Caption</strong>:<br />
  <p><%= @picture.caption %></p>
</div>

<a href="/pictures/<%= @picture.id %>/edit">Edit</a> |
<a href="/pictures/<%= @picture.id %>/destroy">Destroy</a>
